{% extends 'models/base.html' %}
{% load static %}
{% block content %}

<div class="text-center">
    <h1>Category Classifier</h1>
    <hr>
    <br><br><br>
    <form action="{% url 'category' %}" method="post">
        {% csrf_token %}
        {{ form }}
        {% if form %}
        <input class="btn btn-danger" type="submit" value="Submit">
        {% endif %}
    </form><br><br><br>
    {% if input %}
    <h3>For the input: {{input}}</h3>
    <p>The category is</p>
    {{ category }}
    {% endif %}

</div>



{% endblock content %}